/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

html {
    background: linear-gradient(#134d71 16%, #78a7c6, #f7e4bf);
    height: 100%;
}

body {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    color: white;
    margin-top: 1.5em;
    padding-bottom: 3em;
}

h2 {
    color: white;
}

.white-box {
    margin: auto;
    min-width: 372px;
    border-radius: 10px;
    background-color: white;
}

label {
    font-style: italic;
}

.button-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 6em;
    width: 40%;
}

.input-div {
    width: 90%;
    padding-bottom: 2em;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

span {
    display: flex;
}

.button-zone > div > span:nth-child(1) {
    padding-left: 15%;
}

.button-zone > div > span:nth-child(2) {
    padding-right: 15%;
}

input {
    margin-right: 1.5em;
    transition: all .5s ease-in-out;
}

input:hover {
    transform: scale(2);
}

button {
    background-color: #134d71;
    color: white;
    border-radius: 5px;
    width: 33%;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}

.mantra-zone {
    margin-top: 100px;
    width: 60%;
}

.mantra-zone > span {
    justify-content: center;
    padding: 3em;
    font-style: italic;
}

img {
    margin: 3em;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    display: inline-flex;
    justify-content: center;
    margin: 2em;
    padding: 2em;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #f6f;
    border-top-color: #0e0;
    border-right-color: #0dd;
    border-bottom-color: #f90;
    animation: spinner .6s linear infinite;
}

#hideMeAfter2Seconds {
    animation: hideAnimation 0s ease-in 2s;
    animation-fill-mode: forwards;
}

@keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

#revealMeAfter2Seconds {
    animation: fadeInMsg 10s;
}

@keyframes fadeInMsg {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hidden {
    display: none;
}


